/*
 * Julian Fell 
 * https://jtfell.com
 *
 */

@import 'basscss';
@import 'colors.css';

/* 
 * Custom media queries
 */
/*
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
*/

* { box-sizing: border-box }

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}


body {
  margin: 0;
  background-color: #ffffff;
  color: #444444;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 14px
}

.h0 {
    font-variation-settings: "wght" 850;
    border: solid #e7e7e7;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 2rem;

    color: #111827;
    font-weight: 800;
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
}

h1, h2, h3,
h4, h5, h6 {
  margin-top: 2em;
  margin-bottom: .5em;
}

h1, .h1,
.large {
  font-size: 2rem;
}

h2, .h2,
h3, .h3,
h4, .h4 {
  font-size: 1.1rem;
}

h5, .h5,
h6, .h6,
.small {
  font-size: .75rem;
}

p,
dl,
ol,
ul,
pre,
blockquote,
hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  border: 0;
  border-bottom: 1px solid;
}

a {
  color: #37a081
}
